@using System.Text.Json
@using CrestApps.OrchardCore.OpenAI.ViewModels.Sessions
@using OrchardCore

@model ChatSessionWithHistoryViewModel

<div class="d-flex flex-row h-100">

    <div class="d-flex flex-column h-100 flex-grow-1">
        @await DisplayAsync(Model.Content)
    </div>

    @if (Model.History is not null && Model.History.Count > 0)
    {
        <div class="d-none d-md-block flex-shrink-0 bg-theme p-2 border rounded-end rounded-top" style="width: 20rem;">
            <div class="list-group">
                @foreach (var record in Model.History)
                {
                    @await DisplayAsync(record)
                }
            </div>
        </div>
    }

</div>

<style at="Head">
    .ta-content {
        height: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 0 !important;
    }
</style>
