@using CrestApps.Core.AI.Models
@using OrchardCore.DisplayManagement.Views

@model ShapeViewModel<AIDataSource>

<h5>@(Model.Value.DisplayText)</h5>
<div class="text-muted small">@(!string.IsNullOrWhiteSpace(Model.Value.Source) ? Model.Value.Source : AIDataSourceSourceTypes.SearchIndexProfile)</div>
