@using CrestApps.OrchardCore.Users.Drivers

<option value="@(PermissionDefinedEditorDriver.PermissionDefinedEditor)" selected="@(Model.Editor == PermissionDefinedEditorDriver.PermissionDefinedEditor)">
    @T["Permission Defined Editor"]
</option>
