# ignore all
**

# Except src for building
!./src/*
!NuGet.Config
# TODO : Remove this line when Docker Buildkit works in Windows
!/.build/release/*
!sshd_config

# Ignore any App_Data folder
**/App_Data/

# Ignore all prebuild
**/[b|B]in/
**/[O|o]bj/