<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="OrchardCorePreview" value="https://nuget.cloudsmith.io/orchardcore/preview/v3/index.json" />
        <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
        <add key="NuGet2" value="https://api.nuget.org/v3/index.json" />
    </packageSources>

    <packageSourceMapping>
        <!-- key value for <packageSource> should match key values from <packageSources> element -->
        <!-- To point OrchardCore to previews, update the packageSource key to OrchardCorePreview. -->

        <packageSource key="NuGet2">
            <package pattern="OrchardCore.Translations.*" />
        </packageSource>

        <packageSource key="OrchardCorePreview">
            <package pattern="OrchardCore.*" />
            <package pattern="OrchardCore" />
            <package pattern="TheAdmin" />
            <package pattern="TheTheme" />
            <package pattern="SafeMode" />
            <package pattern="TheAgencyTheme" />
            <package pattern="TheComingSoonTheme" />
            <package pattern="TheBlogTheme" />
        </packageSource>

        <packageSource key="NuGet">
            <package pattern="*" />
        </packageSource>

    </packageSourceMapping>

</configuration>