
<form method="post">
    <div class="alert alert-info" role="alert">
        <p class="mb-0">
            @T["This process will synchronize all existing subscription content items with Stripe's price items. It will run in the background and may take a few minutes to complete."]
        </p>
    </div>

    <button type="submit" class="btn btn-primary">@T["Start process"]</button>
</form>
