@using CrestApps.OrchardCore.AI.Workflows.Models
@using OrchardCore.Workflows.ViewModels

@model ActivityViewModel<AICompletionWithConfigTask>

<h4 class="card-title">
    <i class="fa-solid fa-pencil" aria-hidden="true"></i>
    @T["AI Completion using Direct Config"]
</h4>
