@using CrestApps.OrchardCore.AI.Core.Models
@using CrestApps.OrchardCore.AI.Models
@using OrchardCore.DisplayManagement.Views

@model ShapeViewModel<AIDataSource>

<h5>@(Model.Value.DisplayText)</h5>
