@using CrestApps.OrchardCore.OpenAI.Workflows.Models
@using OrchardCore.Workflows.ViewModels

@model ActivityViewModel<ChatUtilityCompletionTask>

<h4 class="card-title">
    <i class="fa-solid fa-pencil" aria-hidden="true"></i>
    @T["Chat Utility Completion."]
</h4>
