@using CrestApps.OrchardCore.Subscriptions.Core.Models

@model ShapeViewModel<SubscriptionPart>

<a asp-route="SubscriptionSignup" asp-route-contentItemId="@Model.Value.ContentItem.ContentItemId" class="btn btn-primary">@T["Sign up"]</a>
