@using CrestApps.OrchardCore.Subscriptions.Core.Models

@model ShapeViewModel<SubscriptionsPart>

<a asp-route="SubscriptionsSignup" asp-route-contentItemId="@Model.Value.ContentItem.ContentItemId" class="btn btn-primary">@T["Sign up"]</a>
