@using CrestApps.OrchardCore.Roles.ViewModels

@model RolePickerViewModel

<div class="ocat-wrapper" asp-validation-class-for="Roles">
    <label asp-for="Roles" class="ocat-label">@Model.DisplayName</label>
    <div class="ocat-end">
        @if (Model.Settings.AllowSelectMultiple)
        {
            @await Component.InvokeAsync("SelectRoles", new
                {
                    selectedRoles = Model.Roles,
                    htmlName = Html.NameFor(m => m.Roles),
                    exclude = Model.Settings.ExcludedRoles,
                })
        }
        else
        {
            <select asp-for="Roles" asp-items="Model.AvailableRoles" class="form-select"></select>
        }

        <span asp-validation-for="Roles"></span>

        @if (!string.IsNullOrEmpty(Model.Settings?.Hint))
        {
            <span class="hint">@Model.Settings.Hint</span>
        }
    </div>
</div>
