@using CrestApps.OrchardCore.Core.Models

@model EditCatalogEntryViewModel

<zone Name="Title">
    <h1>@RenderTitleSegments(T["Edit '{0}'", Model.DisplayName])</h1>
</zone>

<form method="post" enctype="multipart/form-data" class="no-multisubmit">
    @Html.ValidationSummary()

    @await DisplayAsync(Model.Editor)

    <a class="btn btn-secondary cancel" role="button" asp-controller="CustomChatSettings" asp-action="Index">@T["Cancel"]</a>

</form>
