@using CrestApps.OrchardCore.Omnichannel.Core
@using CrestApps.OrchardCore.Omnichannel.Core.Models
@using CrestApps.OrchardCore.Omnichannel.Managements.ViewModels
@using Microsoft.AspNetCore.Authorization
@using OrchardCore.ContentManagement.Metadata
@using OrchardCore.Contents

@model CompleteOmnichannelActivityContainer

@inject IContentDefinitionManager ContentDefinitionManager

<div class="card mb-3">
    <div class="card-header">
        @T["Subject"]
    </div>
    <div class="card-body">
        @await DisplayAsync(Model.Subject)
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        @T["Activity"]
    </div>
    <div class="card-body">
        @await DisplayAsync(Model.Activity)
    </div>
</div>
