<div class="row g-2">
    @await DisplayAsync(Model.Content)

    <div class="col-lg-2">
        <button type="submit" name="submit.Filter" value="Filter" class="btn btn-sm btn-primary"><i class="fa-solid fa-filter"></i> @T["Filter"]</button>
    </div>
</div>
