<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="App_Data/logs/nlog-internal.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="logDir" value="${aspnet-appbasepath}/App_Data/logs" />

  <targets>
    <target xsi:type="File" name="allfile"
            fileName="${logDir}/log-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
            maxArchiveFiles="30" />

    <target xsi:type="Console" name="console"
            layout="${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="CrestApps.Core.*" minlevel="Debug" writeTo="allfile" finalMinLevel="Off" />
    <logger name="Microsoft.AspNetCore.SignalR.*" minlevel="Debug" writeTo="allfile" finalMinLevel="Off" />
    <logger name="*" minlevel="Info" writeTo="allfile,console" />
  </rules>
</nlog>
