@using CrestApps.OrchardCore.OpenAI.Models
@using OrchardCore.DisplayManagement.Views

@model ShapeViewModel<ModelDeployment>

<span class="badge ta-badge bg-warning-subtle font-weight-normal" data-bs-toggle="tooltip" title="@T["Source"]">
    <i class="text-secondary me-1" aria-hidden="true"></i>@Model.Value.Source
</span>

<span class="badge ta-badge bg-primary-subtle font-weight-normal" data-bs-toggle="tooltip" title="@T["Connection Name"]">
    <i class="text-secondary me-1" aria-hidden="true"></i>@Model.Value.ConnectionName
</span>
