@using CrestApps.OrchardCore.AI.Models
@using OrchardCore.DisplayManagement.Views

@model ShapeViewModel<ChatInteraction>

<h5>@(string.IsNullOrEmpty(Model.Value.Title) ? T["Untitled"] : Model.Value.Title)</h5>
