@using CrestApps.OrchardCore.AI.Core
@using CrestApps.OrchardCore.AI.Mcp.Core.Models
@using CrestApps.OrchardCore.AI.Models
@using Microsoft.Extensions.DependencyInjection
@using CrestApps.OrchardCore.AI
@using Microsoft.Extensions.Options

@inject IOptions<McpClientAIOptions> Options
@{
    string source = Model.Source;

    if (!Options.Value.TransportTypes.TryGetValue(source, out var entry))
    {
        return;
    }
}

<div class="col">
    <div class="card h-100">
        <div class="card-body">
            <h4>@(entry.DisplayName)</h4>
            <p class="hint">@(entry.Description)</p>

        </div>

        <div class="card-footer text-muted text-sm-end">
            <a class="btn btn-primary btn-sm"
               asp-route-action="Create"
               asp-route-controller="Connections"
               asp-route-source="@source">@T["Add"]</a>
        </div>

    </div>
</div>
