@using CrestApps.OrchardCore.Omnichannel.Core.Models
@using OrchardCore.DisplayManagement.Views

@model ShapeViewModel<OmnichannelCampaignGroup>

<h5>@Model.Value.DisplayText</h5>
@if (!string.IsNullOrWhiteSpace(Model.Value.Description))
{
    <span class="text-muted">@Model.Value.Description</span>
}
