@using CrestApps.OrchardCore.Omnichannel.Core.Models
@using OrchardCore.DisplayManagement.Views

@model ShapeViewModel<OmnichannelChannelEndpoint>

<a asp-action="Edit"
   asp-route-id="@Model.Value.Id"
   class="btn btn-primary btn-sm">@T["Edit"]</a>
