@using CrestApps.OrchardCore.Users
@using CrestApps.OrchardCore.Users.Core
@using OrchardCore.ContentManagement
@using System.Globalization
@using OrchardCore.ContentManagement.Display.ViewModels

@model ContentItemViewModel

@inject IDisplayNameProvider DisplayProvider

@{
    ContentItem contentItem = Model.ContentItem;
    var modifiedUtc = contentItem.ModifiedUtc?.ToString("yyyy-MM-ddTHH:mm:sszzz", CultureInfo.InvariantCulture);
}

@if (contentItem.ModifiedUtc.HasValue)
{
    <span class="badge ta-badge font-weight-normal" data-bs-toggle="tooltip" title="@await DisplayAsync(await New.DateTime(Utc: contentItem.ModifiedUtc, Format: "g"))">
        <i class="fa fa-calendar text-secondary" aria-hidden="true"></i>
        <time datetime="@modifiedUtc">@await DisplayAsync(await New.Timespan(Utc: contentItem.ModifiedUtc))</time>
    </span>
}
@if (!string.IsNullOrEmpty(contentItem.Author))
{
    <shape Type="ContentsMeta_SummaryAdmin_Author" prop-authorName="@(contentItem.Author)" cache-id="user-display-name-author" cache-context="username-@(contentItem.Author)" cache-tag="@(UsersConstants.UserDisplayNameCacheTag),@(UsersConstants.UserDisplayNameCacheTag):@contentItem.Author" />
}
