@model AgentSoftPhoneViewModel

<button type="button" class="telephony-soft-phone__tab" data-telephony-tab="contact-center" aria-selected="false">
    <i class="fa-solid fa-headset"></i>
    <span>@T["Work"]</span>
</button>
