@using CrestApps.OrchardCore.ContactCenter.Workflows.Models
@using OrchardCore.Workflows.Helpers
@using OrchardCore.Workflows.ViewModels

@model ActivityViewModel<ContactCenterEvent>

<header>
    <h4>
        <i class="fa-solid fa-headset" aria-hidden="true"></i>
        @Model.Activity.GetTitleOrDefault(() => T["Contact Center Event"])
    </h4>
</header>
