@using CrestApps.OrchardCore.ContactCenter.Core.Models
@using OrchardCore.DisplayManagement.Views

@model ShapeViewModel<ContactCenterSkill>

<h5>@Model.Value.Name</h5>

@if (!string.IsNullOrWhiteSpace(Model.Value.Description))
{
    <div class="text-muted">@Model.Value.Description</div>
}

@if (!Model.Value.Enabled)
{
    <div class="mt-1">
        <span class="badge text-bg-warning">@T["Disabled"]</span>
    </div>
}
