@using CrestApps.OrchardCore.AI.Core
@using Microsoft.Extensions.DependencyInjection
@using CrestApps.OrchardCore.AI
@using Microsoft.Extensions.Options

@inject IOptions<AICompletionOptions> Options

@{
    string sourceName = Model.Source;

    if (!Options.Value.ProfileSources.TryGetValue(sourceName, out var source))
    {
        return;
    }
}

<div class="col">
    <div class="card h-100">
        <div class="card-body">
            <h4>@(source.DisplayName)</h4>
            <p class="hint">@(source.Description)</p>
        </div>
        <div class="card-footer text-muted text-sm-end">
            <a class="btn btn-primary btn-sm"
               asp-route-action="Create"
               asp-route-controller="Profiles"
               asp-route-source="@sourceName">@T["Add"]</a>
        </div>
    </div>
</div>
