@using CrestApps.OrchardCore.AI.Core
@using CrestApps.OrchardCore.AI.Models
@using Microsoft.Extensions.DependencyInjection
@using CrestApps.OrchardCore.AI
@using Microsoft.Extensions.Options

@inject IOptions<AIProviderOptions> Options
@inject IOptions<AIOptions> AIOptions
@{
    string providerName = Model.ProviderName;

    if (!AIOptions.Value.ConnectionSources.TryGetValue(providerName, out var deploymentProvider))
    {
        return;
    }
}

<div class="col">
    <div class="card h-100">
        <div class="card-body">
            <h4>@(deploymentProvider.DisplayName)</h4>
            <p class="hint">@(deploymentProvider.Description)</p>

        </div>

        <div class="card-footer text-muted text-sm-end">
            <a class="btn btn-primary btn-sm"
               asp-route-action="Create"
               asp-route-providerName="@providerName">@T["Add"]</a>
        </div>

    </div>
</div>
