@using CrestApps.OrchardCore.AI.Tools.Models
@using OrchardCore

@model DocumentReaderToolMetadata

<div class="row">
    <div class="col-md-6">
        <div class="@Orchard.GetWrapperClasses()">
            <label asp-for="MaxWords" class="@Orchard.GetLabelClasses()">Max Words</label>
            <div class="@Orchard.GetEndClasses()">
                <input asp-for="MaxWords" type="number" class="form-control" min="1" />
                <span asp-validation-for="MaxWords"></span>
                <div class="hint"> Maximum number of words the AI may read from the document.</div>
            </div>
        </div>
    </div>
</div>
