@using CrestApps.OrchardCore.AI.Models
@using CrestApps.OrchardCore.AI.Core
@using CrestApps.OrchardCore.AI.ViewModels
@using OrchardCore

@model EditProfileToolInstancesViewModel

@if (Model.Instances is null || Model.Instances.Length == 0)
{
    return;
}

<h5 class="border-bottom pb-2">@T["User Defined Tools"]</h5>

<div class="mb-3">
    @for (var i = 0; i < Model.Instances.Length; i++)
    {
        <div class="form-check">
            <input type="hidden" asp-for="Instances[i].Id" />
            <input asp-for="Instances[i].IsSelected" type="checkbox" class="form-check-input">
            <label class="form-check-label" asp-for="Instances[i].IsSelected">@Model.Instances[i].DisplayText</label>
            <span class="hint dashed">@Model.Instances[i].Description</span>
        </div>
    }
</div>
