<div class="container-fluid px-0">
    <div class="d-flex flex-column flex-lg-row h-100">
        @if (Model.Parameters is not null)
        {
            <div class="flex-shrink-0 bg-theme p-3 border rounded mb-3 mb-lg-0" style="width: 100%; max-width: 22rem; height: auto; overflow-y: auto;">
                @await DisplayAsync(Model.Parameters)
            </div>
        }

        <div class="d-flex flex-column h-100 flex-grow-1 px-3">
            @if (Model.Header is not null)
            {
                <div class="mb-3">
                    @await DisplayAsync(Model.Header)
                </div>
            }
            @await DisplayAsync(Model.Content)
        </div>
    </div>
</div>

<style at="Head">
    @@media (min-width: 992px) {
        .flex-shrink-0.bg-theme {
            max-width: 22rem !important;
            height: calc(100vh - 2rem - var(--oc-top-nav-height, 0)) !important;
        }
    }
</style>