<div class="d-flex flex-column h-100">
    @if (Model.Header is not null)
    {
        <div class="container-fluid flex-shrink-0 mb-3">
            @await DisplayAsync(Model.Header)
        </div>
    }

    <div class="flex-grow-1 overflow-hidden" style="min-height: 0;">
        @await DisplayAsync(Model.Content)
    </div>
</div>
