@using CrestApps.OrchardCore.Omnichannel.Core.Models
@using CrestApps.OrchardCore.Omnichannel.Managements.ViewModels

@model CompleteOmnichannelActivityContainer

@{
    var subject = Model.Subject;
    var activity = Model.Activity;
    var contact = Model.Contact;
}

@if (contact is not null)
{
    <div class="card mb-3">
        <div class="card-header">
            @T["Contact information"]
        </div>
        <div class="card-body">
            @await DisplayAsync(contact)
        </div>
    </div>
}

@if (subject is not null)
{
    <div class="card mb-3">
        <div class="card-header">
            @T["Subject details"]
        </div>
        <div class="card-body">
            @await DisplayAsync(subject)
        </div>
    </div>
}

@if (activity is not null)
{
    <div class="card mb-3">
        <div class="card-header">
            @T["Activity and workflow"]
        </div>
        <div class="card-body">
            @await DisplayAsync(activity)
        </div>
    </div>
}
