@using CrestApps.OrchardCore.Omnichannel.Managements.ViewModels

@model OmnichannelDispositionViewModel

<div class="ocat-wrapper">
    <label asp-for="Name" class="ocat-label">@T["Name"]</label>
    <div class="ocat-end">
        @if (Model.IsNew)
        {
            <input asp-for="Name" class="form-control" />
        }
        else
        {
            <input value="@Model.Name" class="form-control" readonly />
            <input asp-for="Name" type="hidden" />
            <span class="hint">@T["The disposition name is fixed after creation."]</span>
        }
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</div>

<div class="ocat-wrapper">
    <label asp-for="Description" class="ocat-label">@T["Description"]</label>
    <div class="ocat-end">
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
</div>
