@model CrestApps.OrchardCore.Omnichannel.Managements.ViewModels.OmnichannelContactImportOptionsViewModel

<div class="ocat-limited-wrapper">
    <label class="ocat-label">@T["Import options"]</label>
    <div class="ocat-limited">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" asp-for="IgnoreDuplicateByPhoneNumber" />
            <label class="form-check-label" asp-for="IgnoreDuplicateByPhoneNumber">@T["Ignore duplicate by phone number"]</label>
            <span class="hint dashed">@T["When enabled, if multiple rows in the file have the same phone number, only the first occurrence is imported."]</span>
        </div>
    </div>
</div>

