@using CrestApps.OrchardCore.Omnichannel.Core.Models
@model ProcessOmnichannelActivityContainer

<div class="contact-card">
    @await DisplayAsync(Model.Contact)
</div>

<div class="subject-card">
    @await DisplayAsync(Model.Subject)
</div>

<div class="activity-card">
    @await DisplayAsync(Model.Activity)
</div>
