@using CrestApps.OrchardCore.AI.Chat.Models
@using CrestApps.OrchardCore.Core.Models
@using Microsoft.AspNetCore.Mvc.Localization

@model ListCatalogEntryViewModel<AIChatSession>

<zone Name="Title"><h1>@RenderTitleSegments(T["Custom Chat Instances"])</h1></zone>

<div class="card text-bg-theme mb-3 position-sticky action-bar">
    <div class="card-body">
        <div class="row gx-3">
            <div class="col-auto">
                <a asp-controller="CustomChat" asp-action="Create" class="btn btn-primary" role="button">
                    <i class="fa-solid fa-plus"></i> @T["Create Instance"]
                </a>
            </div>
        </div>
    </div>
</div>

<ul class="list-group">
    @if (Model.Models.Count > 0)
    {
        @foreach (var entry in Model.Models)
        {
            <li class="list-group-item">
                <div class="flex-grow-1">
                    @await DisplayAsync(entry.Shape)
                </div>
            </li>
        }
    }
    else
    {
        <li class="list-group-item list-group-item-info text-center">
            <i class="fa-solid fa-inbox fa-2x mb-2"></i>
            <p class="mb-0">@T["<strong>Nothing here!</strong> You haven't created any custom chat instances yet."]</p>
        </li>
    }
</ul>
