@using CrestApps.OrchardCore.Subscriptions.ViewModels
@using OrchardCore.ContentManagement.Display

@model ListSubscriptionsViewModel

@inject IContentItemDisplayManager DisplayManager

@if (Model.Subscriptions == null || Model.Subscriptions.Count == 0)
{
    <div class="alert alert-info text-center" role="alert">
        @T["There are no subscriptions at the moment."]
    </div>

    return;
}

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 g-3">
    @foreach (var subscription in Model.Subscriptions)
    {
        <div class="col">
            @await DisplayAsync(subscription)
        </div>
    }
</div>

@if (Model.Pager != null)
{
    @await DisplayAsync(Model.Pager)
}
