@using CrestApps.OrchardCore.Subscriptions.ViewModels
@using OrchardCore.DisplayManagement

@model SubscriptionViewModel

<form id="subscription-form" method="post" asp-route-sessionId="@Model.SessionId">

    <input type="hidden" name="step" value="@Model.Step" />
    <input type="hidden" name="contentItemId" value="@Model.ContentItemId" />

    @await DisplayAsync(Model.Content)
</form>
