@using CrestApps.OrchardCore.Subscriptions.ViewModels
@using OrchardCore.DisplayManagement

@model SubscriptionViewModel

<form asp-route="SubscriptionsSignup" asp-route-sessionId="@Model.SessionId">
    @await DisplayAsync(Model.Content)
</form>

