name: Main - CI

on:
  # Run it on main and release pushes too, in case we merge from a branch that's not up-to-date with the target branch
  # and breaks something after merge (or if we push to main).
  push:
    paths-ignore:
      - '**/*.md'
      - 'mkdocs.yml'
      - 'src/CrestApps.OrchardCore.Documentations/**'
    branches: [ main, release/** ]

permissions:
  contents: read

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    name: Build & Test
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: "15"
    - uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          10.0.x
    - name: Build
      # See pr_ci.yml for the reason why we disable NuGet audit warnings.
      run: |
        dotnet build -c Release -warnaserror /p:TreatWarningsAsErrors=true /p:RunAnalyzers=true /p:NuGetAudit=false
    - name: Unit Tests
      run: |
        dotnet test -c Release --no-build ./tests/CrestApps.OrchardCore.Tests/CrestApps.OrchardCore.Tests.csproj 
