name: Validate Pull Request

on:
  push:
  pull_request_target:
    types: [opened, synchronize]

permissions:
  contents: read
  pull-requests: write

jobs:
  validate-pull-request:
    name: Validate Pull Request
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: Check for Merge Conflict in PR
        # v3.0.0
        uses: eps1lon/actions-label-merge-conflict@1df065ebe6e3310545d4f4c4e862e43bdca146f0
        with:
            repoToken: ${{ secrets.GITHUB_TOKEN }}
            commentOnDirty: "This pull request has merge conflicts. Please resolve those before requesting a review."
            dirtyLabel: "merge conflict"
            # The default 120 is too long. The mergeable state is usually calculated by GitHub within seconds.
            retryAfter: 5
